<html>
	<head>
		<title>Home</title>
		<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
	</head>
	<body>
		<div>	
			<h4 class="logo">
				<a href='/'>Home</a>
			</h4>
		</div>
		<hr />
		<!--
		<div class="primary-nav">
			<a href='/'>About Me</a>
			<a href='/contact'>Contact Me</a>
			<a href='/resume'>Resume</a>
		</div>-->
		<%= yield %>
		<footer>
			<div>&copy; DevPoint Labs 2016</div>
		</footer>
	</body>
</html>